template(name="headerView")
	.ui.top.fixed.menu#mainMenu
		.item.header Acesso
		a.item(href="/") Home
		if user
			.item
				.ui.dropdown
					.text Cadastro
					i.dropdown.icon
					.menu
						a.item(href="/admin/series") Séries
						a.item(href="/admin/alunos") Alunos
						a.item(href="/admin/matricula") Matrícula
			.item
				.ui.dropdown
					.text Aulas
					i.dropdown.icon
					.menu
						a.item(href="/admin/chamada") Chamada
			a.item(href="/admin/presencas") Presenças
		.right.menu
			if user
				a.item(href="/admin/configuracao") Configuração
				a.item(href="/admin/usuarios") Usários
				a.item#logoutBtn
					strong #{user.email}
			else
				a.item#loginBtn
					strong Login
